.button-tap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50vh;
  position: fixed;
  top: calc(50% - 25vh);
  left: calc(50% - 25vh);
}

.button-tap:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .button-tap {
    height: 70vh;
    width: 70vh;
    top: calc(60% - 35vh);
  left: calc(50% - 35vh);
  }
}
